
# Ignore development files or folders at any depth
dev_*
*_dev.*
*_dev*

# Ignore all files under 'data/' except '.py' and '.sh' files at any depth. Do NOT ignore subdirectories.
data/*
#!data/** 
!data/**/*.py
!data/**/*.sh


checkpoints/*
logs/*
notebooks/*

__pycache__
**/__pycache__

.DS_Store
**/.DS_Store


*.bin
*.pkl
*.pt
*.pyc

.idea
.ipynb_checkpoints/
.vscode







